<div class="home-page">
<h1 class="title-center">Welcome <br/> To <br/> I-spend</h1>
<div class="buttons">
<%= button_to 'Log In', new_user_session_path, method: :get, class: "full info" %>
<%= button_to 'Register', new_user_registration_path, method: :get, class: "full none" %>
</div>
</div>
